/Machine_Learning/Roboflow
/Machine_Learning/Segmentation/runs
/Machine_Learning/Segmentation/model
/Machine_Learning/Detection/YOLOv8/runs_n
/Machine_Learning/Detection/YOLOv9/runs

/Data_treatment/Augmentation
/Data_treatment/Augmentation_git

*.pt
*.engine
